fastapi==0.115.12
uvicorn[standard]==0.34.2
sqlalchemy==2.0.40
pymysql==1.1.1
cryptography==44.0.2
pandas==2.2.3
numpy==2.2.5
scikit-learn==1.6.1
mlxtend==0.23.4
apscheduler==3.11.0
pydantic-settings==2.9.1
